@font-face {
	font-family: "Avenir-Medium";
	src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
	font-family: "Avenir-Black";
	src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
	font-family: "Avenir-Light";
	src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
	font-family: "Avenir-Book";
	src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
	font-family: "Avenir-Oblique";
	src: url("../fonts/AvenirLTStd-Oblique.otf") format("opentype");
}