.er-body {
  padding: 40px 82px 40px 40px;
  max-width: 1220px;
  margin: 0 auto;
}

.page-ready {
	opacity: 1;
	transition: opacity 2s cubic-bezier(0, 0.98, 0.58, 1) 1s;
}

.er-work {
	margin-top: 60px;
}


@media screen and (min-width: 1024px) {
	.er-body {
		padding: 80px 82px 88px 40px;
		p {
			max-width: 709px;
			margin-bottom: 20px;
		}
	}
}



@media screen and (max-width: 1023px) and (orientation: landscape) {
	.er-header, .er-main * {
		display: none;
	}

	.er-main {
		&:before {
			content: "" attr(data-orientation-label) "";
		    position: absolute;
		    top: 0%;
		    left: 0%;
		    z-index: 99999999999;
		    background: white;
		    width: 100vw;
		    height: 100vh;
		    text-align: center;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		}
	}
}