@import './variables';
@import './fonts';
@import './typography';
@import './animations';
@import './layout';


// Layouts
@import './layouts/home';

// Components
@import './components/header';
@import './components/menu';
@import './components/cta-block';
@import './components/cta-links-block';
@import './components/portfolio-list';


body, * {
	margin: 0;
	box-sizing: border-box;
	font-family: "Avenir-Medium";
}

body {
	opacity: 0;
}

picture {
  img {
    width: 100%;
    display: block;
  }
}
