.er-home {
	.er-header {
		h2 {
            color: #000;
			transition: color 500ms ease-in-out;
		}
	}

	.er-main {
		width: 100vw;
	}

	.er-portfolio-item {
		color: #fff;
		transition: color 400ms ease-in-out;
        font-family: "Avenir-light";
        cursor: pointer;

        span {
        	font-family: "Avenir-light";
        }
	}

	.portfolio-target {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		object-position: center center;
		opacity: 0;
		transition: opacity 500ms ease-in-out;
	}
}

.image-loaded {
	.er-header {
		position: absolute;
		width: 100vw;
		justify-content: flex-end;
        padding: 120px 200px 0 0;
        z-index: 2;

		h2 {
			color: #FFF;
			transition: color 500ms ease-in-out;
		}
	}

	.er-portfolio-item {
		color: #FFF;
		transition: color 400ms ease-in-out;
	}

	.portfolio-target {
		opacity: 1;
		transition: opacity 500ms ease-in-out;
	}
}

@media screen and (min-width: 1024px) {
	.er-home {
		.er-header {
			display: flex;
		    align-items: flex-start;
		    justify-content: flex-end;
		    padding: 120px 210px 0 0;
		    background: none;
		}

		.er-portfolio-item {
			color: #000;
			transition: color 400ms ease-in-out;

			&:hover {
				font-family: "Avenir-Medium";
			}
		}

		.er-main {
			height: 100vh;

			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		&.image-loaded {
			.er-portfolio-item {
				color: #fff;
				transition: color 500ms ease-in-out;

			}
		}
	}
}