.er-header {
	display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    &:hover {
    	cursor: pointer;
    }

    h2 {
    	font-size: 10px;
    	font-family: "Avenir-Medium";
    	text-transform: uppercase;
    	letter-spacing: 4px;
    }
}